<html>
	<head>
		<title>Signes Wishlists</title>
		<link rel='stylesheet' href='http://www.manxome.org/style/manxome.css' type='text/css' />
		<style type='text/css'>
			div#header div#userid { font-size: smaller; background-color:#d0d0d0; text-align:right; }
			div#footer { text-align: center }
			h3 { margin-bottom: 0; }
			h4 { margin-top: .1em; margin-left: .5em }
			table { width: 95% }
			th { width: 25% }
			caption { font-weight: bold; text-align: left; }
		</style>
	</head>
	<body>
	<div id='header'>
		<h1>Xenial</h1>
		<h2>[% title %]</h2>
		<div id='userid'>you're logged in as [% current_user %]</div>
	</div>
	<div id='footer'><a href='?op=about'>Xenial</a></div>
	</body>
</html>
